.header {
    height: 100%;
    padding: 18px 0;
}

.header__wrap {
    height: 100%;
    background-color: var(--primary-bg-color);
    color: var(--white-color);
    border-radius: 18px;
    padding: 20px;
}

.header__wrap-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__wrap-brand-name {
    font-family: 'Comic Neue', cursive;
    font-size: 3rem;
    color: var(--white-color);
    text-decoration: none;
}

.header__wrap-slogan {
    font-family: 'Comic Neue', cursive;
    text-align: center;
    font-size: 1.2rem;
}

.header__wrap-menu {
    padding: 10px 0;
}

.header__wrap-menu-list {
    font-family: 'Source Code Pro', monospace;
    list-style: none;
    list-style-type: none;
    font-weight: 500;
    padding: 0;
}

.header__wrap-menu-item {
    padding: 4px 0;
}

.header__wrap-menu-link {
    display: block;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 3px 8px;
    border-radius: 6px;
}

.header__wrap-menu-link:hover {
    background-color: var(--white-color);
    color: var(--text-color);
}

.header__wrap-menu-link.active {
    background-color: var(--white-color);
    color: var(--text-color); 
}

.header__wrap-footer-btn-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrap-footer-btn-list .btn {
    font-size: 1.6rem;
}

/* BODY */
.body {
    padding: 18px 0;
    height: 100%;
}

.body__wrap {
    height: 100%;
    border: 1px solid #888888;
    border-radius: 18px;
    padding: 18px;
}

.body__wrap-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.body_wrap-user-btn {
    font-size: 2.4rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    z-index: 100;
}

.body_wrap-user-sub {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: -50%;
    width: max-content;
    font-size: 1.6rem;
}

.body_wrap-user-list {
    list-style: none;
    padding: 0;
}

.body_wrap-user-sub.active {
    visibility: visible;
}

.body_wrap-user-link {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.body_wrap-user-link:hover {
    opacity: .7;
}

.body__wrap-carousel {
    margin-top: 32px;
    border: 1px solid #888;
    border-radius: 8px;
}

.body__wrap-subtitle {
    font-size: 2rem;
    font-weight: 500;
}