.header {
    height: 100%;
    padding: 18px 0;
}

.header__wrap {
    height: 100%;
    background-color: var(--primary-bg-color);
    color: var(--white-color);
    border-radius: 18px;
    padding: 20px;
}

.header__wrap-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__wrap-brand-name {
    font-family: 'Comic Neue', cursive;
    font-size: 3rem;
    color: var(--white-color);
    text-decoration: none;
}

.header__wrap-slogan {
    font-family: 'Comic Neue', cursive;
    text-align: center;
    font-size: 1.2rem;
}

.header__wrap-menu {
    padding: 10px 0;
}

.header__wrap-menu-list {
    font-family: 'Source Code Pro', monospace;
    list-style: none;
    list-style-type: none;
    font-weight: 500;
    padding: 0;
}

.header__wrap-menu-item {
    padding: 4px 0;
}

.header__wrap-menu-link {
    display: block;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 3px 8px;
    border-radius: 6px;
}

.header__wrap-menu-link:hover {
    background-color: var(--white-color);
    color: var(--text-color);
}

.header__wrap-menu-link.active {
    background-color: var(--white-color);
    color: var(--text-color); 
}

.header__wrap-footer-btn-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrap-footer-btn-list .btn {
    font-size: 1.6rem;
}

/* BODY */
.body {
    padding: 18px 0;
    height: 100%;
}

.body__wrap {
    height: 100%;
    border: 1px solid #888888;
    border-radius: 18px;
    padding: 18px;
}

.body__wrap-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 18px 0;
}

.body__wrap-form-add {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 12px;
    border: 1px solid #888888;
    border-radius: 4px;
}

.body__wrap-form-add-group {
    display: flex;
    flex-direction: column;
    margin: 0 4px;
    font-size: 1.6rem;
}

.body__wrap-form-add-label {
    user-select: none;
}

.body__wrap-form-add-input {
    height: 38px;
    font-size: 1.4rem;
    padding: 0 8px;
}

.body__wrap-form-add-submit {
    font-size: 1.4rem;
    height: 38px;
    margin-left: 8px;
}

/* Category list */
.body__wrap-category {
    padding: 12px;
    border: 1px solid #888888;
    border-radius: 4px;
    font-size: 1.8rem;
    
}

.body__wrap-category-wrap {
    overflow-y: auto;
    overflow-x: hidden;
    height: 500px;
}

.body__wrap-category 
.row:first-child > *
 {
    font-weight: 600;
}

.body__wrap-category-action-form-btn {
    font-size: 1.6rem;
}